<%= content_for(:title, "Cambiar contraseña") %>
<h3>Cambiar contraseña</h3>

<div class="row">
  <div class="col-md-3">
    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :contraseña_actual %>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :nueva_contraseña %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> caracteres min</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :confirmar_nueva_contraseña %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to "Atrás", :back, class: "btn btn-light", style: "color: #212529; background-color: #f8f9fa; border-color: #f8f9fa;" %>
  </div>
</div>
