<%= form_with(model: term, local: true) do |form| %>
  <% if term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :term_year %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :term_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
